@{
    var themeCookie = Context.Request.Cookies["ThemeCookie"];
    string theme = !string.IsNullOrEmpty(themeCookie) ? themeCookie : "light";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewBag.PageTitle ?? "Projekt Zawody")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjektZawody.styles.css" asp-append-version="true" />
    <title>Theme Example</title>
    
    @if (theme == "dark")
    {
        <link rel="stylesheet" href="~/css/dark-theme.css" id="themeStylesheet">
    }
    else
    {
        <link rel="stylesheet" href="~/css/light-theme.css" id="themeStylesheet">
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="navbar-nav flex-grow-1">
                            <a class="nav-link text-dark" asp-controller="Players" asp-action="Index">Players</a>
                        </li>
                        <li class="navbar-nav flex-grow-1">
                            <a class="nav-link text-dark" asp-controller="Competitions" asp-action="Index">Competitions</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-nav flex-grow-1">
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        }
                        
                    </ul>
                    <p>Current theme: @theme</p>

                    <a asp-controller="Theme" asp-action="SetTheme" asp-route-theme="light" class=" btn btn-light">Light</a>
                    <a asp-controller="Theme" asp-action="SetTheme" asp-route-theme="dark"  class=" btn btn-dark">Dark</a>
                </div>
               


            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2023 - ProjektZawody - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
