@model ProjektZawody.Models.UserModel


<div>
    <h2>Login Successful!</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>


<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Wróć do strony głównej</a>
</div>
