@model ProjektZawody.Models.UserModel


<div>
    <h2>Udało ci się zalogować!</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>


<div class="text-white" style="display: flex; justify-content: center;">
    <a asp-action="Index" asp-action="Home" class="btn btn-primary" style="background-color: #ca8585; color: #ffffff;">Wróć do strony głównej</a>
</div>
