

<body>
        <div class="text-center">
            <h1 class="display-4">Witamy na stronie zawodów sportowych!!!</h1>
    @if (!User.Identity.IsAuthenticated)
    {
            <a class="btn btn-primary" asp-controller="Login" asp-action="Index" style="background-color: #ca8585; color: #ffffff;">Zaloguj</a>
        }
        else
        {
            <p>Jesteś zalogowany</p>
        }
    </div>
</body>

