

<body>
        <div class="text-center">
            <h1 class="display-4">Witam na stronie zawodów sportowych</h1>
    @if (!User.Identity.IsAuthenticated)
    {
            <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Login</a>
        }
        else
        {
            <p>Jesteś zalogowany</p>
        }
    </div>
</body>

